body {
  background-color: #353746;
  color: white;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}

.head {
  position: absolute;
}

.promo {
  top: 0;
  width: 100%;
  z-index: 1;
  position: absolute;
}

.cuerpo {
  background-color: #353746;
  color: white;
  width: 100%;
  height: fit-content;
  z-index: 9;
  top: 800px;
  position: absolute;
}

.icon {
  float: right;
}

.titulo {
  right: 0%;
  width: 700px;
  position: absolute;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.438);
  color: black;
  bottom: 210px;
}
#nombre {
  color: rgb(255, 255, 255);
  text-shadow: 3px 2px 0px rgb(134, 134, 134);
  font-weight: bold;
  font-size: 60px;
}

#sub {
  font-size: medium;
}
/* estos dos id's son temporales hasta tener los iconos definitivos*/
#accion {
  font-size: medium;
  text-align: center;
  padding: 10px;
}
#accion:hover {
  background-color: rgba(255, 255, 255, 0.575);
  transition: 0.3s;
  color: black;
}
#symbol {
  font-size: xx-large;
  margin-top: 10px;
}
.btn {
  border: none;
}

.btn-primary {
  padding: 0px;
  background-color: black;
}

#footer {
  text-align: center;
  background-color: black;
}
/*#########################################################El siguiente CSS pertenece a los carteles############################################################*/
/*##############################################################################################################################################################*/
/*##############################################################################################################################################################*/

.carteles {
  color: white;
  display: flex;
  flex-direction: row;
  overflow-y: visible;
  overflow-x: scroll;
}
.carteles::-webkit-scrollbar {
  display: none;
}
.margen {
  width: 30%;
}
.item {
  width: 160px;
  margin-left: 10px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px;
  min-height: 500px;
}

/*#########################################################El siguiente CSS pertenece a la modal################################################################*/
/*##############################################################################################################################################################*/
/*##############################################################################################################################################################*/
#reproducir {
  margin-top: -30px;
  margin-left: -40px;
  z-index: 0;
}
#play {
  position: absolute;
  top: 100;
  left: 220;
  cursor: pointer;
}
#sinopsis {
  text-align: left;
}
#articulo {
  font-size: x-large;
  border-bottom: 1px solid grey;
}
.datos {
  text-align: left;
  color: white;
}
.datos:first-child {
  font-weight: bold;
}
.modal-backdrop {
  display: none;
}
.modal-content {
  overflow: hidden;
  width: fit-content;
}

.video-close {
  width: fit-content;
  position: absolute;
  right: 10;
  top: 5;
}

.content-pelicula {
  width: 80vw;
}

/*#########################################################               Acordeon              ################################################################*/
/*##############################################################################################################################################################*/
/*##############################################################################################################################################################*/

.card {
  background-color: rgba(14, 16, 24, 0.932) !important;
}
.card-body {
  background-color: #353746;
  padding: 0px !important;
}
.cap {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 15px;
}
.cap > button {
  right: 10;
  margin-top: -5;
  position: absolute;
}
/*####################################################################     media queries       #################################################################*/
/*##############################################################################################################################################################*/
/*##############################################################################################################################################################*/
@media (max-width: 479px) {
  .cuerpo {
    top: 0;
  }
  .marg-min {
    padding-top: 30;
  }
  .titulo {
    display: none;
  }
  #play {
    top: 70;
    left: 170;
  }
}
@media (min-width: 480px) and (max-width: 545px) {
  .cuerpo {
    top: 270px;
  }
  .titulo {
    display: none;
  }
}
@media (min-width: 546px) and (max-width: 712px) {
  .cuerpo {
    top: 300px;
  }
  .titulo {
    bottom: 470vh;
    width: 470px;
  }
}
@media (min-width: 713px) and (max-width: 888px) {
  .cuerpo {
    top: 400px;
  }
  .titulo {
    top: 210px;
    height: fit-content;
    width: 500px;
  }
}
@media (min-width: 889px) and (max-width: 1200px) {
  .cuerpo {
    top: 500px;
  }
  .titulo {
    top: 310px;
    height: fit-content;
  }
}
@media (min-width: 1200px) and (max-width: 1420px) {
  .cuerpo {
    top: 680px;
  }
  .titulo {
    top: 410px;
    height: fit-content;
  }
}

@media (min-width: 1420px) {
  .cuerpo {
    bottom: 680px;
  }
  .titulo {
    top: 410px;
    height: fit-content;
  }
}
