.footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: black;
  bottom: 0;
  width: 100%;
  color: white;
}

.footer-part {
  width: 50%;
}

i {
  padding: 5px;
}
