.top {
  font-size: xx-large;
  margin-left: 20px;
}

.filtro {
  border-radius: 50px;
  background: linear-gradient(145deg, #30323f, #393b4b);
  box-shadow: 20px 20px 60px #2d2f3c, -20px -20px 60px #3d3f51;
  color: white;
  text-align: left;
  padding-top: 15px;
}

.arrow {
  position: absolute;
  bottom: -55px;
  left: 40%;
}
p {
  color: white;
}
